# files of the demo are not part of package
index.md
_config.yml
favicon.ico
calendrical-demo-en.html
calendrical-demo-fr.html
calendrical-demo.js
dateextendtest-fr.html
dateextendtest-en.html
dateextendtest.js
